@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #D1D5DB;
}

main::-webkit-scrollbar-thumb {
  background: #4B5563;
}